
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header>.navbar {
  background-color: #1895d5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .navbar-brand {
    color:#fff;
    font-size:1.6em;
    font-weight:800;
  } 
}
#app {
  margin-top:25px;
  padding:25px;
}
#main-jumbotron{
  background-color:transparent;
  h1{
    font-weight:600;
  }
  p {
    color:#fff;
  }
  .btn{
    background-color:#fff;
  }

  .search {
    width:60%;
    margin: 0px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
}

#main-jumbotron::after {
  content: "";
  background: url('/test_fundraiser.jpg');
  background-size:cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  height:500px;
  position: absolute;
  z-index: -1;   
}

.review .fa-star-selected {
  color:#db0d14;
}

.rating-container{
    text-align:left;
    background-color:#fff;
    border:1px solid #c7c7c7;
    .rating{
      display:inline-block;
      padding:10px 10px 0px 10px;
    }
    .user{
      font-size:1.3em;
      font-weight:600;
      display:inline-block;
      padding:10px 10px 0px 10px;
    }
    .date{
      font-size:1.15em;
      font-weight:400;
      padding:0px 25px;
      margin-bottom:.9em;
    }
    .review{
      padding:10px;
    }

}

.new-button{
  display:inline-block;
  margin-bottom:10px;  
}

.card{
  margin:10px auto;
  width:250px;
  .card-footer{
    text-align:center;
  }
}
